.pagination {
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 1.4rem;
    color: var(--clr-default-800);
    transition: color var(--transition), background-color var(--transition);

    &.active {
      color: var(--clr-default-100);
      background-color: var(--clr-primary-300);
      transition: color var(--transition), background-color var(--transition);
    }

    &.dots {
      pointer-events: none;
    }
  }
}
