.sidebar {
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 15;
  overflow: auto;
  border-right: 1px solid #eeeef4;
  border-radius: 0px 32px 32px 0px;
  width: 100%;
  height: 100%;
  max-width: 54.8rem;
  box-shadow: 90px 1px 35px rgba(148, 148, 148, 0.25);
  background-color: var(--clr-light);
  transition: left var(--transition);

  &::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: calc((100vw - var(--container-width) / 2));
    height: 100%;
    background-color: var(--clr-light);
    pointer-events: none;
  }

  &--opened {
    left: 0;
    transition: left var(--transition);
  }
}
