@font-face {
  src: url("/fonts/Ubuntu-Regular.woff2") format("woff2");
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/Ubuntu-Medium.woff2") format("woff2");
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
