.modal-thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  text-align: center;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }
}
